@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
/* Add CSS styles here! */
body {
  font-family: 'Red Hat Display', sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
